@import '../mixin';
.module-header,
.module-content-heahder,
.pagination-content, {
    @include size(100%, 50px);
    flex-shrink: 0;
}

.module-content {
    @include position(absolute, 50px, 0, 0, 0);
}

.module-table {
    padding: 0 15px;
    @include position(absolute, 50px, 320px, 50px, 0);
    .ag-material .ag-root {
        border-top: 1px solid #808080;
        border-bottom: 1px solid #808080;
    }
    .ag-material .ag-header-cell-label,
    .ag-material .ag-cell-focus,
    .ag-material .ag-ltr .ag-cell-no-focus {
        text-align: center;
    }
    .ag-material .ag-header {
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .ag-material .ag-cell-not-inline-editing {
        padding-top: 0!important;
        line-height: 40px;
    }
    .ag-material .ag-ltr .ag-header-cell,
    .ag-material .ag-cell-not-inline-editing {
        border-right: 1px solid #d6d6d6;
        outline: none;
    }
}

.module-filter {
    @include size(320px, 100%);
    overflow-x: hidden;
    overflow-y: auto;
    flex-shrink: 0;
    border-left: 1px solid $border-color-1;
    .filter-item,
    .status-item {
        .content {
            padding: .5em 1em .5em!important;
        }
    }
    .filter-item {
        color: #333!important;
        &.filter-item-selected {
            color: #fff!important;
            background-color: rgba(0, 0, 0, 0.75)!important;
            @include transition(background-color, linear, 0.2s);
        }
        &.filter-item-selected.icon {
            color: $success!important;
        }
    }
    .status-item {
        color: #fff!important;
        &.status-item-selected {
            color: #fff!important;
            @include transition(background-color, linear, 0.2s);
        }
        &.status-item-selected.icon {
            color: #fff!important;
        }
        .content {
            padding: .5em 1em .5em!important;
        }
    }
}