@import '_normalize';
@import '_variable';
@import '_common';
@import '_mixin';
@import '_grid';
@import '_layout';
@import '_notification';
@import './components/_loading';
@import './components/_content';
@import './views/_login';

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #fff;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    font-smoothing: antialiased;
}

// html.ios {
//   overflow-x: hidden;
//   -webkit-overflow-scrolling: touch;
// }
// html.ios,
// html.ios body {
//   height: initial !important;
// }