$default: #eeeeee!default;
$primary: #3949ab!default;
$info: #039be5!default;
$success: #43a047!default;
$warning: #fb8c00!default;
$danger: #e53935!default;
$dark: #424242!default;
$white: #ffffff!default;
$default-active: #e0e0e0!default;
$primary-active: #1a237e!default;
$info-active: #0277bd!default;
$success-active: #388e3c!default;
$warning-active: #ef6c00!default;
$danger-active: #c62828!default;
$dark-active: #212121!default;
//
$font-color-1: #333;
$font-color-2: #666;
$font-color-3: #999;

$base-path: '/static/';
$logo-img: $base-path + 'logo.png';